body{
    margin: 0;
    padding: 0;
    background-image: url("u1.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    font-family:monospace;
}
div
{
    border-color: pink;
}
.logged_in
{
    
    
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
}
.box{
 
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
}
.box h2,h3{
    text-transform: uppercase;
    color: darkred;
    border-color: gray;
    border-radius: 20px;
    opacity: 1;
    
}
.box h4{
    font-family: serif;
    font-size: 10px;
    color: aliceblue;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    opacity: 1;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px 20px;
    font-family: sans-serif;
    
}
.box input[type="text"]:focus,.box input[type="password"]:focus,.box input[type="number"]:focus ,.box input[type="email"]:focus{
width: 300px;
color: rgb(94, 7, 7);

border-color: coral;
    color: forestgreen;
}
.box input[type = "submit"]{
    opacity: 150%;
    border: 0;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.719);
    font-weight: 900;
}
.box input[type="number"]{
    border: 0;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px 20px;
    color: rgba(15, 11, 240, 0.719);
}
.box h1{
    text-transform: uppercase;
    font-weight: 300;
    color: brown;
}
.box input[type="email"]{
    border: 0;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px 20px;
    color: rgba(15, 11, 240, 0.719);
}
.box input[type="submit"]:hover{
    opacity: 0.8;
}
.box input[type="button"] , .logged_in button
{
    border: 0;
    opacity: 1;
    color: seashell;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px 20px;
    font-family: sans-serif;
}
button , .logged_in button
{
    border: 0;
    opacity: 1;
    color: rgb(5, 5, 5);
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px 20px;
    font-family: sans-serif;
}

